<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca|Montserrat&display=swap" rel="stylesheet">
    
     <link rel="stylesheet" href="../css/login.css" type="text/css">


    <title>Login</title>
</head>
<body>
    


<div class="Container">

    <div class="login-form">

        <div id="hero-log">

       <h1 class="hero-log">Account login</h1>

        </div>

        <form action="" class="login">
            <input type="text" id="email" placeholder="email" required>
            <br>
            <input type="password" id="password"  placeholder="password" required>
            
            <br>
            <a class="btn" href="#" id="sign-in">
                Sign in
            </a>
        </form>

        <div id="sign-up">

               <span>Create Account, </span>
               <a href="http://localhost:3000/sign-up">Sign up</a>

         </div>  

    </div>

    
</div>

    <script src="../js/animejs/lib/anime.min.js"></script>
    <script src="../js/login.js"></script>
</body>
</html>