<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca|Montserrat&display=swap" rel="stylesheet">
    
     <link rel="stylesheet" href="../css/sign.css" type="text/css">


    <title>Sign up</title>
</head>
<body>
    


<div class="Container">

    <div class="login-form">

        <div id="hero-log">

       <h1 class="hero-log">Account Sign up</h1>

        </div>
<div id="sign-up-form">

        <form action="" class="login" id="">
            <input type="text" id="name" placeholder="fullName" required>
            <br>
              <input type="text" placeholder="age">
            <br>

            <input type="text" id="email" placeholder="email" required>
            <br>
            <input type="password" id="password"  placeholder="password" required>
            
            <br>
            <a class="btn" href="#" id="sign-in" >
                Sign up
            </a>
        </form>
</div>

        

    </div>

    
</div>

    <script src="../js/sign.js"></script>
</body>
</html>